@inherits LayoutComponentBase

<PageTitle>Test Pattern Builder</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span style="color: dimgrey; font-size: small" href="">&copy; 2023 Sławomir Majchrzak. All rights reserved.</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

