<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid" @onclick="CloseEveryMenu">
        <a class="navbar-brand" href="">Test Pattern Builder</a>
        <button title="Navigation menu" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClassCollapse nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-2" @onclick="ToggleNavMenu">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Home
            </NavLink>
        </div>
        <div class="nav-item px-2" @onclick="ToggleNavMenu">
            <NavLink class="nav-link" href="PatternBuilder" Match="NavLinkMatch.All">
                <span class="oi oi-aperture" aria-hidden="true"></span>Pattern builder
            </NavLink>
        </div>

        @* <div class="nav-item px-2"> *@
        @*     <NavLink class="nav-link" @onclick="ToggleSubMenu"> *@
        @*         <span class="oi oi-menu" aria-hidden="true"></span>Sub-menus *@
        @*     </NavLink> *@
        @*     @if (subMenuExpanded) *@
        @*     { *@
        @*         <div class="nav-item px-3" @onclick="CloseNavMenu"> *@
        @*             <NavLink class="nav-link" href="Sub1"> *@
        @*                 <span class="oi oi-bug"></span>Sub-menu 1 *@
        @*             </NavLink> *@
        @*         </div> *@
        @*         <div class="nav-item px-3" @onclick="CloseNavMenu"> *@
        @*             <NavLink class="nav-link" href="Sub2"> *@
        @*                 <span class="oi oi-bug"></span>Sub-menu 2 *@
        @*             </NavLink> *@
        @*         </div> *@
        @*         <div class="nav-item px-3" @onclick="CloseNavMenu"> *@
        @*             <NavLink class="nav-link" href="Sub3"> *@
        @*                 <span class="oi oi-bug"></span>Sub-menu 3 *@
        @*             </NavLink> *@
        @*         </div> *@
        @*         <div class="nav-item px-3" @onclick="CloseNavMenu"> *@
        @*             <NavLink class="nav-link" href="Sub4"> *@
        @*                 <span class="oi oi-bug"></span>Sub-menu 4 *@
        @*             </NavLink> *@
        @*         </div> *@
        @*         <div class="nav-item px-3" @onclick="CloseNavMenu"> *@
        @*             <NavLink class="nav-link" href="Sub5"> *@
        @*                 <span class="oi oi-bug"></span>Sub-menu 5 *@
        @*             </NavLink> *@
        @*         </div> *@
        @*     } *@
        @* </div> *@

    </nav>
</div>

@code {
    private bool navMenuExpanded = false;
    private bool subMenuExpanded = false;

    private string? NavMenuCssClassCollapse => navMenuExpanded ? null : "collapse";

    private void ToggleNavMenu() => navMenuExpanded = !navMenuExpanded;
    private void ToggleSubMenu() => subMenuExpanded = !subMenuExpanded;

    private void CloseNavMenu() => navMenuExpanded = false;
    private void CloseSubMenu() => subMenuExpanded = false;

    private void CloseEveryMenu()
    {
        CloseSubMenu();
        ToggleNavMenu();
    }
}