@page "/"

<PageTitle>Test Pattern Template</PageTitle>
<h4>Welcome my dear Rocket, this application aims at helping you with your QA tasks!</h4>
<div class="mt-3">
    The main goal here is to centralise and standardise the way we handle Jira comments.
    <div class="mt-2 mb-2">How do we use it?</div>
    <ol class="text-start ps-5">
        <li>Read the docs (Epic, Story, Figma, etc.) to know what and how to test.</li>
        <li>If necessary create a check list or simply identify the scope.</li>
        <li>Run our .NET Blazor application.</li>
        <li>Fill out all relevant fields.</li>
        <li>Click the button (Copy to clipboard) and paste it into a Jira comment text area.</li>
        <li>Add status icons and you're done:
            <div class="mt-1 mb-1">
                <div class="d-flex align-items-center">
                    <div class="me-2"><i class="bi bi-check-square" style="font-size: 1.4rem; color: green;"></i></div>
                    <div class="text-start">All good, green to go!</div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="me-2"><i class="bi bi-x-square" style="font-size: 1.4rem; color: red;"></i></div>
                    <div class="text-start">1 red cross means the task to be rejected!</div>
                </div>
            </div>
        </li>
        <li><span class="fw-bold">Note:</span> <span class="text-danger">DO NOT</span> refresh your browser as there is no database here, you may have to fill it all again!</li>
    </ol>
    <div class="mb-2">I hope this little tool will help you and other users and make your job easier.</div>
    <a class="btn btn-success mt-1 mb-3" style="font-size:small" href="/PatternBuilder">Get started!</a>
    <div>Thank you for using our application.</div>
    
</div>
