@page "/Sub3"

<div>
    @foreach (var browser in Enum.GetValues<Browsers>())
    {
        <div>
            <input class="form-check-input mx-0" type="checkbox" id="browsers" value="@(IsSelected(browser))" @onchange="() => AddToList(browser)"/>
            <label class="ms-1" for="browsers">@browser</label>
        </div>
    }
</div>

<div class="alert alert-info mt-2">
    @foreach (var browser in Enum.GetValues<Browsers>())
    {
        @if (browser != (_selectedBrowsers & browser))
        {
            continue;
        }
        <div>
            @browser
        </div>
    }
</div>


@code {
    private Browsers _selectedBrowsers;

    private bool IsSelected(Browsers browser)
    {
        return (_selectedBrowsers & browser) == browser;
    }

    private Task AddToList(Browsers browser)
    {
        if ((_selectedBrowsers & browser) == browser)
            _selectedBrowsers &= ~browser;
        else
            _selectedBrowsers = _selectedBrowsers | browser;

        return Task.CompletedTask;
    }

    [Flags]
    public enum Browsers
    {
        Chrome = 1,
        Edge = 2,
        Firefox = 4,
        Opera = 8,
        Safari = 16,
        Vivaldi = 32
    }

}